<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>Kasper Security</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <style type="text/css">
      body{background-color:#eee;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="ui grid">
        <div class="sixteen wide column" style="background-color:#fff;border:1px dashed #ccc;margin:14px;margin-right:15px;padding:6px;font-family:verdana;color:#333;text-align:center;">
          <strong>Kasper Security</strong> <em>consultants located in the Niagara Region</em><br>
          <br>
          <br>
          <small><em>This webpage is under major construction</em></small>
        </div>
      </div>
    </div>
  </body>
</html>
